body {
    margin: 0px;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.navbar {
    display: flex ;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(231, 234, 241);
    border-bottom: 1px solid gray;
    box-shadow: 11px 1px gray;
}

.navbar > li {
    display: flex;
    align-items: center;
}

.logo {
    height: 70px;
    border-radius: 10px;
}

.button {
  border:0px;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bolder;
}

.button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.mainButton {
    background-color: #1bb76e;
    color: white;    
}

.mainButton:hover {
    box-shadow: 1px 1px green;
}


.secondaryButton {
    background-color: #60f3f3;
    color: white;
}

.secondaryButton:hover {
    box-shadow: 1px 1px rgb(64, 240, 231);
  
}

.buscar {
    background-color: white;
    border: 1px solid gray;
    padding: 4px;
    border-radius: 8px;
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.buscar > input {
    outline: none;
    border: 0px;
}

.buscar:focus-within {
    border: 1px solid blue
}

.iconoBusqueda:hover {
    color: rgb(37, 37, 201);
}

.centrado{
    text-align:center;
    border:1px dotted #000; 
    padding:8px;
    color: rgb(87, 86, 88);
}


.contenedorImagen {
    width: 240px;
    height: 350px;
    display: flex;
    
}

.contenedorImagen:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.contenedorImagen > img {
    object-fit: cover;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-bottom: 10px;
}

.breedCard {
    margin: 10px;
    background-color: rgb(189, 42, 5);
    box-shadow: 5px 10px 5px gray;
    border-radius: 10px;
    border-radius: 10px;
    text-align:center;
    
    
}


.breedTittle {
    color: white;
    margin: 10px;
    font-weight: bold;
    font-size: x-large;
      
}

.breedCardContainer {
    display: flex;
}


